$main-color: #ff6525;
$hover-main-color: #f93e45;
$border-color: #ebf2f3;
$social-color: #8b92a2;
$social-border-color: #2e3647;
$addition-color: #f93e45;
$icon-color: #5a5a5a;

$border-color: #dadada;

$light-color: #ffffff;
$max-dark-color: #000000;
$middle-text-color: #949799;
$dark-text-color: #3d404c;
$dark-color: #9cc0cf;

$border-social-color: rgba(255, 255, 255, 0.18);
$menu-light-color: #555555;
$menu-icon-color: #f6f6f6;
$menu-dark-color: #1f2230;
$banner-middle-color: #4f4f4f;
$form-color-background: #eeeeee;
$background-info-color: #eef1f5;
$info-color: #677283;
$watermark-color: #53536c;
$background-categories: #fff9f7;
$background-footer: #000a1f;

$gradient-color: rgba(235, 242, 243, 0.5);
$gradient-color-center: rgba(255, 255, 255, 0.8);
