.also-like {
    margin-bottom: 5%;
    &__title {
        @include font-st('Poppins', 20px, $dark-color);
        margin: 0 0 20px;
        text-align: center;
    }

    &__list {
        @include flex-center;
        @extend %list-style;
        margin-bottom: 4%;
    }

    &__link {
        text-decoration: none;
        font-family: 'Poppins';
        font-size: 14px;
    }

    &__item {
        text-align: center;
    }
    &__item:first-child {
        margin-right: 10px;
    }

    &__item:last-child {
        display: none;
    }

    &__img-box {
        position: relative;
        margin-bottom: 10px;
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__icon-button {
        @include button(28px, 28px, block, pointer, $light-color);
        box-shadow: 0 0 4px 2px #0000001a;
        border: none;
    }

    &__icon-button:first-child {
        margin-bottom: 5px;
    }

    &__icon {
        fill: $text-color;
    }

    &__img-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__img-marker {
        background-color: #7fbc1e;
        @include font-st('Poppins 700', 10px, $light-color);
        border-radius: 5px;
        display: block;
        padding: 4px 7px;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    &__product-name {
        color: #222222;
        display: block;
        margin-bottom: 10px;
    }

    &__product-cost-old {
        color: #666666;
        text-decoration: line-through;
        margin-right: 5px;
    }

    &__product-cost-new {
        color: $dark-color;
        font-weight: 600;
    }

    &__product-cost-box {
        margin-bottom: 10px;
    }

    &__button {
        display: block;
        cursor: pointer;
        background-color: $main-color;
        @include font-st('Poppins', 14px, $light-color);
        text-transform: uppercase;
        border: none;
        margin: 0 auto;
        padding: 8px 16px;
    }
}
.also-like__navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
        @include font-st('Poppins', 10px, $dark-color);
        letter-spacing: 0.5rem;
        margin-right: 25px;
    }

    &-button {
        @include button(44px, 44px);
        border: 1px solid rgba(35, 35, 35, 0.08);
        color: $dark-color;
    }

    &-button-l {
        color: rgba($dark-color, 0.3);
    }
}

@media screen and (min-width: 768px) {
    .also-like {
        &__title {
            font-size: 24px;
            margin-bottom: 25px;
        }

        &__link {
            font-size: 16px;
        }

        &__product-cost-old {
            font-size: 15px;
        }

        &__img-icon {
            display: none;
        }

        &__img-marker {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            padding: 0 4px;
            line-height: 40px;
        }
        &__button {
            display: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    .also-like {
        &__item:last-child {
            display: block;
        }

        &__item {
            margin-right: 15px;
            position: relative;
        }

        &__item:last-child {
            margin: 0;
        }

        &__button {
            display: block;
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
            opacity: 0;
        }

        &__button:hover {
            background-color: $dark-color;
        }

        &__item:hover .also-like__button {
            opacity: 1;
            bottom: -11px;
        }

        &__icon-button {
            width: 34px;
            height: 34px;
        }

        &__icon-button:hover {
            background-color: $dark-color;
        }

        &__icon-button:hover .also-like__icon {
            fill: $light-color;
        }
        &__img-icon {
            display: block;
        }

        &__icon-button-eye,
        &__icon-button-heart {
            position: absolute;
            opacity: 0;
            // right: -40px;
        }

        &__icon-button-eye {
            top: 0px;
            transform: translate(50px);
            transition: all 0.3s ease;
        }

        &__icon-button-heart {
            top: 40px;
            transform: translateX(50px);
            transition: all 0.7s ease;
        }

        &__item:hover .also-like__icon-button-eye {
            transform: translate(-50px);
            opacity: 1;
            // right: -15px;
        }

        &__item:hover .also-like__icon-button-heart {
            transform: translate(-50px);
            opacity: 1;
            // right: -15px;
        }

        &__navigation {
            display: none;
        }

        &__img {
            width: 95%;
        }
    }
}
