.footer__groups {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 40px 0 20px;
}

.footer__group-info,
.footer__group-list {
    display: none;
}

.footer__group-title {
    margin: 0 0 10px;
    @include font-style('Poppins', 16px, uppercase);
    color: $dark-color;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
}

.footer__copyright {
    padding-top: 14px;
    padding-bottom: 10px;

    &-text {
        margin: 0;
        padding: 7px 0;
        @include font-st('Poppins', 14px, $middle-color);
        text-align: center;
        line-height: 21px;
    }
}

.footer__payment-list {
    @extend %list-style;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;

    &-item {
        margin-right: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-item:nth-child(2) {
        width: 32px;
        border-radius: 3px;
        background-color: $middle-color;
    }

    &-icon {
        fill: $middle-color;
    }

    &-icon-google {
        width: 90%;
        fill: $light-color;
    }
}

@media screen and (min-width: 1200px) {
    .footer__copyright {
        @include flex-center;
    }

    .footer__group-info,
    .footer__group-list {
        display: block;
    }

    .footer__group-title i {
        display: none;
    }

    .footer__group-title-contacts {
        display: none;
    }

    .footer__groups {
        padding-top: 60px;
        padding-bottom: 50px;

        &-list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .footer__group-title {
        @include font-style('Poppins', 15px, uppercase);
        color: $dark-color;
        margin-bottom: 20px;
    }

    .footer__group-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .footer__group-list-item {
        margin-bottom: 15px;
    }

    .footer__group-list-link {
        @include link-style($middle-color, 'Poppins', none, none);
        font-size: 14px;
        transition: all 0.3s ease;

        &:hover {
            color: $main-color;
        }
    }

    .footer__group-list-icon {
        fill: $middle-color;
        margin-right: 10px;
        transition: all 0.3s ease;
    }

    .footer__group-list-link:hover .footer__group-list-icon {
        fill: $main-color;
    }

    .footer__group-info {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    .footer__group-icon-box {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #e9e9e9;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        margin-right: 10px;
    }

    .footer__group-icon {
        fill: $main-color;
        transition: all 0.3s ease;
    }
    .footer__group-info:hover .footer__group-icon-box {
        background-color: $main-color;
    }
    .footer__group-info:hover .footer__group-icon {
        fill: $light-color;
    }

    .footer__group-info-name {
        display: block;
        @include font-st('Poppins 500', 16px, $dark-color);
        margin-bottom: 5px;
    }

    .footer__group-info-text,
    .footer__group-info-link {
        @include font-st('Poppins', 14px, $middle-color);
        display: block;
        line-height: 24px;
    }

    .footer__group-info-link {
        text-decoration: none;
    }
}
