.product__image {
    padding-top: 7%;
    margin-bottom: 7%;

    &-box {
        margin-bottom: 7%;
    }
    &-main {
        width: 100%;
        height: auto;
        border: 1px solid #e9e9e9;
    }

    &-other-box {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &-other:nth-child(4) {
        display: none;
    }

    &-other {
        width: 30%;
        height: auto;
        border: 1px solid #e9e9e9;
    }

    &-other-button-left,
    &-other-button-right {
        @include button(20px, 20px);
        border: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &-other-button-left {
        left: 1%;
    }

    &-other-button-right {
        right: -5%;
    }
}

.product__info {
    &-title {
        @include font-st('Poppins', 22px, $dark-color);
        margin: 0 0 10px;
    }

    &-review {
        margin-bottom: 5px;
    }

    &-review {
        display: flex;
    }

    &-review-link {
        @include link-style(#555555, 'Poppins', none, none);
        font-size: 14px;
        margin: 0 10px;
    }

    &-cost-old-price {
        @include font-st('Poppins', 16px, $text-color);
        text-decoration: line-through;
        margin-right: 2%;
    }

    &-cost-new-price {
        @include font-st('Poppins', 22px, $dark-color);
    }

    &-vendor {
        margin: 0 0 10px;
        @include font-st('Poppins 700', 14px, $middle-color);
    }

    &-vendor-value {
        @include font-st('Poppins', 14px, $middle-color);
    }

    &-wish-size {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &-wish {
        margin-right: 1%;
    }

    &-wish-icon,
    &-size-icon {
        fill: $middle-color;
    }

    &-wish-link {
        @include link-style($dark-color, 'Poppins', none, none);
        font-size: 14px;
    }

    &-size {
        display: flex;
    }

    &-size-button {
        background-color: transparent;
        @include font-st('Poppins', 14px, $dark-color);
        border: none;
        cursor: pointer;
        padding: 0;
        display: block;
    }

    &-cost,
    &-vendors,
    &-quantity {
        margin-bottom: 10px;
    }

    &-quantity-text {
        @include font-st('Poppins 500', 15px, $dark-color);
        margin: 0 0 10px;
    }

    &-quantity-value {
        @include font-st('Poppins', 18px, #ff3d12);
        font-weight: bold;
        margin-right: 5px;
    }

    &-quantity-scale {
        width: 70%;
        height: 12px;
        background-color: #e1e1e1;
        border-radius: 25px;
        box-shadow: 1px 1px 2px #0003;
        margin-bottom: 7%;
    }

    &-quantity-scale-filling {
        width: 60%;
        height: 100%;
        background: linear-gradient(to left, #edd728, #ff3d12);
        display: block;
        border-radius: 25px;
    }

    &-quantity-input {
        display: flex;
        border: 1px solid #e9e9e9;
        width: 8rem;
        margin-bottom: 7%;

        &-button {
            @include button(33.33%, 40px);
            @include font-st('Poppins 500', 15px, $text-color);
            border: none;
        }

        &-input {
            width: 33.33%;
            border-top: 0;
            border-bottom: 0;
            border-left: 1px solid #e9e9e9;
            border-right: 1px solid #e9e9e9;
            text-align: center;
        }
    }

    &-buy {
        @include flex-center;
        margin-bottom: 7%;
    }

    &-buy-button {
        width: 50%;
        display: block;
        cursor: pointer;
        border: none;
        @include font-st('Poppins 500', 14px, $light-color);
        text-transform: uppercase;
        padding: 15px;
        transition: all 0.3s ease;
    }

    &-add {
        background-color: $main-color;
        margin-right: 5px;
    }
    &-add:hover {
        background-color: $dark-color;
    }

    &-now-buy {
        background-color: $dark-color;
    }

    &-now-buy:hover {
        background-color: $main-color;
    }
}

.product__info-benefits {
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 7%;

    &-list {
        @extend %list-style;
    }

    &-item {
        display: flex;
        align-items: center;
        margin-bottom: 7%;
    }

    &-item:last-child {
        margin: 0;
    }

    &-icon {
        fill: $main-color;
        margin-right: 15px;
    }

    &-title {
        @include font-st('Poppins 500', 14px, $dark-color);
        display: block;
        margin-bottom: 5px;
    }

    &-text {
        @include font-st('Poppins', 13px, $text-color);
    }
}

.product__info-trust {
    margin-bottom: 7%;
    &-image {
        width: 100%;
        height: auto;
    }
}

.product__info-social {
    margin-bottom: 7%;

    &-list {
        @extend %list-style;
        display: flex;
        align-items: center;
    }

    &-item {
        margin-right: 10px;
        transition: all 0.3s ease;
    }
    &-item:hover {
        transform: translateY(-5px);
    }

    &-icon {
        fill: #777;
    }
}

.visually-hidden {
    @extend %visually-hidden;
}

.main-content__info {
    margin-bottom: 7%;
    border: 1px solid #e9e9e9;

    &-list {
        @extend %list-style;
        text-align: center;
        width: 50%;
        margin: 10px auto 0;
    }

    &-item {
        margin-bottom: 10px;
        background-color: $background-color;
        position: relative;
        z-index: 1;
        transition: all 1s ease;
    }

    &-item:first-child {
        background-color: $dark-color;
    }
    &-item:first-child a {
        color: $light-color;
    }

    &-item::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: $dark-color;
        transition: all 0.5s ease;
        z-index: -1;
    }

    &-item:hover::after {
        height: 100%;
    }

    &-item:hover .main-content__info-link {
        color: $light-color;
    }

    &-link {
        @include link-style($dark-color, 'Poppins 500');
        font-size: 14px;
        display: block;
        padding: 9px 0;
    }

    &-description {
        padding: 15px;
    }

    &-title {
        @include font-st('Poppins 500', 15px, $dark-color);
        margin: 0 0 15px;
    }

    &-text {
        @include font-st('Poppins', 14px, $text-color);
        line-height: 24px;
        margin: 0 0 20px;
    }

    &-text-border {
        border-left: 3px solid #e5e5e5;
        padding-left: 15px;
        margin-left: 5px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .product__image-sticky {
        position: sticky;
        top: 48px;
    }

    .product {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        margin-bottom: 10%;

        &__image {
            width: 50%;
            padding: 0 15px 0 0;
        }
    }

    .product__info {
        width: 50%;
        padding: 0 0 0 15px;

        &-title {
            font-size: 26px;
        }

        &-cost,
        &-vendor,
        &-wish-size {
            margin-bottom: 15px;
        }

        &-cost-old-price {
            font-size: 18px;
        }

        &-cost-new-price {
            font-size: 24px;
            font-weight: 700;
        }

        &-buy-button {
            width: 50%;

            @include font-st('Poppins 500', 14px, $light-color);
            padding: 15px 20px;
        }
    }

    .main-content__info {
        margin-bottom: 10%;
        &-list {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0;
        }

        &-item {
            margin-right: 10px;
        }

        &-link {
            font-size: 13px;
            padding: 9px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .main-content {
        width: 75%;
    }
    .product {
        padding: 0;
    }

    .product__image {
        &-other {
            width: 22%;
        }
        &-other:nth-child(4) {
            display: block;
        }
    }
    .product__info-benefits {
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &-item {
            width: 45%;
        }
    }

    .product__info-quantity-input {
        margin-bottom: 5%;
    }

    .product__info-buy {
        margin-bottom: 5%;
        justify-content: start;

        &-button {
            width: 47%;
            margin-right: 2%;
        }
    }
}
