* {
    box-sizing: border-box;
    letter-spacing: 0.03rem;
}
// .wrapper {
//     overflow-x: hidden;
// }

.container {
    // max-width: 767px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 768px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
        // max-width: 720px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
