.activities {
    margin-bottom: 100px;
}

.activities__watermark {
    @include font-st('Roboto 900', 100px, $watermark-color);
    opacity: 0.04;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activities__text {
    width: 650px;
    margin: 0 auto 50px;
    text-align: center;
    position: relative;

    &-pretext {
        @include font-st('Roboto 900', 18px, $main-color);
        margin-bottom: 20px;
        display: block;
    }

    &-title {
        @include font-st('Roboto 900', 40px, $max-dark-color);
        line-height: 60px;
        margin: 0;
    }
}

.activities__list {
    @extend %list-style;
    @include flex-center(hor);
    flex-wrap: wrap;

    &-item {
        width: 270px;
        @include button-border(2px, solid, $form-color-background, 10px);
        padding: 18px;
        margin-bottom: 40px;
    }

    &-item:nth-last-child(-n + 4) {
        margin-bottom: 0;
    }

    &-img-box {
        display: inline-block;
        overflow: hidden;
        margin-bottom: 5px;
        @include button-border(0, solid, transparent, 5px);
    }

    &-img {
        @include button-border(0, solid, transparent, 5px);
        transition: 1s;
    }

    &-price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 25px;
    }

    &-link {
        @include link-style($max-dark-color, 'Roboto 900', none, none);
        font-size: 18px;
        margin-bottom: 12px;
        display: block;
        transition: all 0.3s ease;
    }

    &-info {
        @include flex-center(ver);
        flex-wrap: wrap;
        border-bottom: 1px solid $form-color-background;
        @extend %list-style;
        margin-bottom: 15px;
    }

    &-info li:nth-child(-n + 2) {
        margin-bottom: 5px;
    }

    &-info li:nth-child(n + 3) {
        margin-bottom: 15px;
    }

    &-info-item {
        @include flex-center(ver);
        height: 33px;
        width: auto;
        background-color: $background-info-color;
        border-radius: 25px;
        padding: 4px;
        @include font-st('Roboto 700', 12px, $info-color);
        margin-right: 5px;
    }

    &-icon-box {
        width: 25px;
        height: 25px;
        background-color: $light-color;
        border-radius: 50%;
        @include flex-center(ver);
        justify-content: center;
        margin-right: 5px;
    }

    &-info-icon {
        fill: $info-color;
    }

    &-info-text {
        margin-right: 10px;
    }

    &-guide {
        @include flex-center;
    }

    &-guide-box {
        @include flex-center(ver);
    }

    &-guide-img {
        border-radius: 50%;
        margin-right: 10px;
    }

    &-guide-link {
        @include link-style($max-dark-color, 'Roboto 900', none, none);
        font-size: 15px;
    }

    &-guide-firm {
        display: block;
        @include font-st('Roboto 700', 13px, $menu-light-color);
    }

    &-guide-button {
        @include button-border(2px, solid, $main-color, 50px);
        @include button(27px, 27px, flex);
        align-items: center;
        justify-content: center;
        transition: all 0.2s linear;
        position: relative;
    }

    &-guide-button-icon {
        color: $main-color;
        visibility: visible;
        // transition: all 0.3s ease;
    }
}
.price {
    @include font-st('Roboto 500', 18px, $menu-light-color);
    display: block;
}

.old-price {
    @include font-st('Roboto 500', 18px, $menu-light-color);
    text-decoration-line: line-through;
    margin-right: 15px;
}

.new-price {
    @include font-st('Roboto 900', 28px, $max-dark-color);
}

.activities__list-item:hover .activities__list-link {
    color: $main-color;
}

.activities__list-item:hover .activities__list-guide-button-icon {
    color: $hover-main-color;
    visibility: hidden;
}

.activities__list-item:hover .activities__list-guide-button {
    background-color: $hover-main-color;
}

.activities__list-item:hover .activities__list-img {
    transform: scale(1.1);
}

.activities__list-guide-button-icon-2 {
    color: transparent;
    position: absolute;
    top: -10px;
    transition: all 0.2s linear;
}
.activities__list-item:hover .activities__list-guide-button-icon-2 {
    color: $light-color;
    top: 4px;
}
