.banner {
    background-image: url(../images/slide-2.jpg);
    min-height: 820px;
    @include bg-image;
    margin-bottom: 200px;

    &__filter {
        // background-color: rgba($light-color, 0.6);
        // background: radial-gradient($gradient-color-center, $gradient-color);
        background: linear-gradient($gradient-color, $gradient-color-center, $gradient-color);
        min-height: 820px;
        width: 100%;
        position: relative;
    }
}

.banner__button-left,
.banner__button-right {
    width: 40px;
    height: 40px;
    background-color: $main-color;
    border: none;
    color: $light-color;
    cursor: pointer;
    display: block;
    transition: all 0.5s ease-in;
    opacity: 0;
}

.banner:hover .banner__button-right {
    opacity: 1;
    right: 10px;
}

.banner:hover .banner__button-left {
    opacity: 1;
    left: 50px;
}

.banner__button-left {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
}

.banner__button-right {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
}

.banner__text {
    width: 760px;
    margin: 0 auto 50px;
    padding-top: 250px;
    text-align: center;

    &-pretext {
        display: block;
        @include font-style('Roboto 700', 18px, uppercase);
        color: $main-color;
        margin-bottom: 30px;
    }

    &-title {
        @include font-style('Roboto 900', 60px);
        margin: 0 0 20px;
    }

    &-text {
        @include font-style('Roboto 500', 18px);
        color: $banner-middle-color;
        line-height: 27px;
    }
}

.banner__button {
    @include button(180px, 60px, $color: $main-color);
    @include button-border(1px, solid, $main-color, 5px);
    @include font-style('Roboto 700', 16px);
    color: $light-color;
    margin: 0 auto;
    padding: 0;
}

.banner__form {
    width: 958px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $form-color-background;
    border-radius: 15px;
    // box-shadow: 0px 5px 15px $social-color;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-search-box {
        width: 258px;
        display: flex;
        align-items: center;

        background-color: $light-color;
    }

    &-search-icon {
        fill: $banner-middle-color;
    }

    &-search {
        border: none;
        background-color: transparent;
        outline: none;

        &::placeholder {
            color: black;
        }
    }

    &-search-label {
        margin: 0 10px 0 0;
    }

    &-select,
    &-search-box {
        @include button-border(1px, solid, $light-color, 5px);
        @include font-style('Roboto 700', 18px);
        box-shadow: 0px 1px 10px $border-color;
        margin-right: 20px;
        height: 40px;
        padding-left: 10px;
    }

    &-select-location {
        width: 116px;
    }

    &-select-tourtype {
        width: 123px;
    }

    &-select-durations {
        width: 165px;
    }

    &-button {
        @include button(160px, 40px, inline-block, $color: $main-color);
        @include font-style('Roboto 700', 16px);
        @include button-border(1px, solid, $main-color, 5px);
        color: $light-color;
        transition: all 0.5s ease;

        &-icon {
            fill: $light-color;
        }

        &-button-icon {
            fill: black;
        }

        &-search-icon {
            position: absolute;
        }
    }
}
