.header {
    margin: 0 auto;
    padding: 12px 0 12px;
    border-bottom: 1px dashed $border-color;
    &__top-menu {
        @include flex-center;
    }
}

.header__icon-box {
    width: 44px;
    height: 44px;
    background-color: $menu-icon-color;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.header__info-list {
    @extend %list-style;
    display: flex;

    &-item {
        @include flex-center;
    }

    &-item::after {
        content: '';
        display: block;
        height: 100%;
        border-right: 1px dashed $border-color;
        padding-right: 30px;
        margin-right: 30px;
    }

    &-item:last-child:after {
        padding: 0;
        margin: 0;
        border: none;
    }

    &-link {
        @include link-style($menu-light-color, 'Roboto 700', none, none);
        font-size: 13px;
    }

    &-text {
        @include link-style($dark-text-color, 'Roboto 900', none, none);
        font-size: 19px;
        line-height: 28px;
        display: block;
    }

    &-icon {
        fill: $main-color;
    }

    & li:not(:last-child) {
        padding-right: 35px;
        border-right: 1px dashed $border-color;
    }

    & li:not(:first-child) {
        margin-left: 35px;
    }
}

.header__navigation {
    &-sticky {
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 5;
    }

    &-box {
        @include flex-center;
    }

    &-item {
        padding: 24px 0;
    }

    &-list {
        @extend %list-style;
        display: flex;
    }

    &-list li:not(:last-child) {
        margin-right: 60px;
    }

    &-link {
        @include link-style($menu-dark-color, 'Roboto 900', none, none);
        font-size: 16px;
        position: relative;
    }

    &-link::after {
        display: block;
        @include after(0, 4px, solid, $main-color);
        position: absolute;
        left: 0;
        top: 40px;
        transition: width 0.3s ease-out;
    }

    &-item:hover .header__navigation-link::after {
        width: 100%;
    }
}

.header__navigation-item-icon {
    color: $main-color;
}

.header__account {
    display: flex;
    align-items: center;

    &-list {
        @extend %list-style;
        display: flex;
    }

    &-list-item:first-child {
        margin-right: 15px;
    }

    &-list-item::after {
        content: '';
        padding-right: 15px;
        height: 100%;
        border-right: 1px solid $border-color;
    }

    &-list-icon {
        fill: $icon-color;
    }

    &-list-icon:hover {
        fill: $main-color;
    }
}

.header__account-button {
    @include button(130px, 40px);
    @include font-styles('Roboto 700', 16px);
    border: 1px dashed $main-color;
    border-radius: 25px;
    color: $main-color;
    margin-left: 15px;
    padding: 0;
    transition: 0.5s;

    &-icon {
        fill: $main-color;
        transition: 0.5s;
    }

    &:hover {
        border: 1px solid $main-color;
        background-color: $main-color;
        color: $light-color;
    }

    &:hover .header__account-button-icon {
        fill: $light-color;
    }
}

.header__submenu {
    @extend %list-style;
    width: 200px;
    position: absolute;
    top: 83px;
    box-shadow: 0 5px 10px 0 rgba(83, 82, 82, 0.1);
    transition: all 0.6s ease-in-out;
    visibility: hidden;
    opacity: 0;

    &-item {
        width: 200px;
        padding: 15px 10px 15px 20px;
        @include flex-center;
        border-bottom: 1px solid #e5e5e5;
        box-shadow: 0 1px 1px 0 rgba(83, 82, 82, 0.1);
        background-color: $light-color;
        transition: all 0.3s ease;
        margin: 0;
        position: relative;
    }

    &-item:last-child {
        border-bottom: 1px solid $main-color;
    }

    &-link {
        @include link-style(#343434, 'Roboto 900', none, none);
        font-size: 14px;
        width: 100%;
    }

    &-item:hover {
        background-color: $main-color;
    }

    &-item:hover .header__submenu-link {
        color: $light-color;
    }

    &-link-icon {
        color: $main-color;
    }
}

.header__navigation-item:hover .header__submenu {
    visibility: visible;
    opacity: 1;
    top: 68px;
}

.header__ssubmenu {
    @extend %list-style;
    width: 200px;
    position: absolute;
    top: 0%;
    left: 220px;
    box-shadow: 0 5px 10px 0 rgba(83, 82, 82, 0.1);
    transition: all 0.6s ease-in-out;
    visibility: hidden;
    opacity: 0;

    &-item {
        padding: 15px 10px 15px 20px;
        width: 200px;
        // line-height: 45px;
        @include flex-center;
        border-bottom: 1px solid #e5e5e5;
        box-shadow: 0 1px 1px 0 rgba(83, 82, 82, 0.1);
        background-color: $light-color;
        transition: all 0.3s ease;
        margin: 0;
    }

    &-item:last-child {
        border-bottom: 1px solid $main-color;
    }

    &-link {
        @include link-style(#343434, 'Roboto 900', none, none);
        font-size: 14px;
        width: 100%;
    }

    &-item:hover {
        background-color: $main-color;
    }

    &-item:hover .header__ssubmenu-link {
        color: $light-color;
    }
}

.header__submenu-item:hover .header__ssubmenu {
    visibility: visible;
    opacity: 1;
    left: 200px;
}
