.special {
    padding: 100px 0 80px;
}

.special__header {
    @include flex-center;
    margin-bottom: 20px;

    &-text {
        width: 570px;
    }

    &-pretext {
        @include font-styles-color('Roboto 900', 18px, $main-color);
        margin-bottom: 20px;
        display: block;
    }

    &-title {
        @include font-styles-color('Roboto 900', 40px, $max-dark-color);
        line-height: 60px;
        margin: 0;
    }

    &-button-box {
        display: flex;
    }

    &-button {
        @include button(60px, 60px);
        @include button-border(1px, solid, $main-color, 50px);
        color: $menu-light-color;
        transition: all 0.5s ease;
        margin-left: 10px;
    }

    &-button:hover {
        color: $light-color;
        background-color: $main-color;
    }
}

.special__list {
    @extend %list-style;
    @include flex-center(hor);
    flex-wrap: wrap;
    margin-bottom: 80px;

    &-item {
        width: 270px;
        height: 357px;
        @include button-border(2px, solid, $form-color-background, 10px);
        padding: 18px;
    }

    &-img-box {
        display: inline-block;
        overflow: hidden;
        margin-bottom: 5px;
        @include button-border(0, solid, transparent, 5px);
    }

    &-img {
        @include button-border(0, solid, transparent, 5px);
        transition: 1s;
    }

    &-price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 25px;
    }

    &-link {
        @include link-style($max-dark-color, 'Roboto 900', none, none);
        font-size: 18px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        display: block;
        border-bottom: 1px solid $form-color-background;
        transition: all 0.3s ease;
    }

    &-guide {
        @include flex-center;
    }

    &-guide-box {
        @include flex-center(ver);
    }

    &-guide-img {
        border-radius: 50px;
        margin-right: 10px;
    }

    &-guide-link {
        @include link-style($max-dark-color, 'Roboto 900', none, none);
        font-size: 15px;
    }

    &-guide-firm {
        display: block;
        @include font-styles-color('Roboto 700', 13px, $menu-light-color);
    }

    &-guide-button {
        @include button-border(2px, solid, $main-color, 50px);
        @include button(27px, 27px, flex);
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    &-guide-button-icon {
        color: $main-color;
        transition: all 0.3s ease;
    }
}
.price {
    @include font-styles-color('Roboto 500', 18px, $menu-light-color);
    display: block;
}

.old-price {
    @include font-styles-color('Roboto 500', 18px, $menu-light-color);
    text-decoration-line: line-through;
    margin-right: 15px;
}

.new-price {
    @include font-styles-color('Roboto 900', 28px, $max-dark-color);
}

.special__list-item:hover .special__list-link {
    color: $main-color;
}

.special__list-item:hover .special__list-guide-button-icon {
    color: $light-color;
}

.special__list-item:hover .special__list-guide-button {
    background-color: $hover-main-color;
}

.special__list-item:hover .special__list-img {
    transform: scale(1.1);
}

.special__button {
    @include button(170px, 50px, $color: $main-color);
    @include font-styles-color('Roboto 700', 16px, $light-color);
    border: none;
    border-radius: 25px;
    font-weight: bold;
    margin: 0 auto;
}
