$light-color: #ffffff;
$color-text: #999999;
$color-title: #333333;
$main-color: #95e1d3;
$accent-color: #f38181;
$social-icon-color: #fce38a;

$accent-color-gradient: rgba(243, 129, 129, 0.9);
$social-icon-color-gradient: rgba(252, 227, 138, 0.9);

$social-icon-color-gr123adient: rgba(252, 227, 138, 0.9);
