.content {
  width: 1110px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 100px;
}

.latest_news,
.featured_products {
  font-size: 48px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #515151;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -2px;
  text-align: center;
  margin: 0 0 130px 0;
}

.featured_products::after {
  content: "";
  display: block;
  height: 7px;
  width: 164px;
  background-color: #1abc9c;
  margin: 30px auto 0 auto;
}

.latest_news::after {
  content: "";
  display: block;
  height: 7px;
  width: 164px;
  background-color: #1abc9c;
  margin: 30px auto 0 auto;
}

.logo {
  font-size: 30px;
  line-height: 32px;
  color: #605e5e;
  font-family: "Segoe UI", Tahoma, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: bold;
}

.site_navigation {
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  margin: auto;
  padding: 0;
}

.site_navigation__item {
  display: inline-block;
  margin-right: 30px;
}

.site_navigation__item-link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 17px;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.site_navigation__item-link:hover {
  color: #1abc9c;
}

.site_navigation__item:last-child {
  margin-right: 0;
}

.products__list_item {
  display: inline-block;
  margin-right: 30px;
}

.products__list_item:nth-child(4n) {
  margin-right: 0;
}

.products__list_item:nth-child(-n + 3) {
  margin-bottom: 30px;
}

.products__list {
  padding: 0;
  font-size: 0;
}

.product_description,
.price {
  font-size: 18px;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Segoe UI", sans-serif;
}

.product_information {
  box-sizing: border-box;
  width: 255px;
}

.product_description {
  display: inline-block;
  background-color: #323232;
  text-decoration: none;
  width: 77%;
  text-align: center;
}

.price {
  display: inline-block;
  background-color: #8c8c8c;
  text-decoration: none;
  text-align: center;
  width: 23%;
}

.products__list_item-link:hover .price {
  background-color: #7fd9c7;
}

.products__list_item-link:hover .product_description {
  background-color: #1abc9c;
}

.news {
  display: inline-block;
  width: 350px;
  height: 500px;
  margin: 0 25px 0 0;
  font-size: 0px;
  padding: 0;
}

.news:last-child {
  margin-right: 0;
}

.title_news {
  font-size: 18px;
  line-height: 26px;
  color: #555252;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, sans-serif;
  text-align: left;
  margin: 0;
}

.title_news::after {
  content: "";
  display: block;
  background-color: #1abc9c;
  width: 136px;
  height: 3px;
  margin-top: 10px;
}

.text_news {
  font-size: 14px;
  line-height: 26px;
  color: #555252;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.button {
  display: block;
  background-color: #4ec6ab;
  color: white;
  font-size: 16px;
  line-height: 50px;
  width: 160px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.latest_news_section {
  margin-bottom: 47px;
}
.products {
  margin-bottom: 107px;
}
